<%- include ("./partials/head.ejs") %>
<% const {teacherpic, teachername, vakken, beschrijving, hobbies} = document.data %>
<section class="teacher-info-container">
    <article class="teacher-info">
        <div class="teacher-info-pic">
            <img src="<%- teacherpic.url %>">
        </div>
        <div>
            <h1 id="teacher-info-name"><%- teachername[0].text %></h1>
            <h2>Vakken</h2>
            <p><%- vakken.length === 0 ? "None" : vakken[0].text %></p>
            <h2>Beschrijving</h2>
            <p><%- beschrijving.length === 0 ? "None" : beschrijving[0].text %></p>
            <h2>Hobbies</h2>
            <p><%- hobbies.length === 0 ? "None" : hobbies[0].text %></p>
        </div>
        <img id="extra-img-animation" class="extraImg" src="/images/puppy.jpg">
        <img id="extra-img-animation2" class="extraImg" src="/images/puppy2.jpg">
    </article>
</section>

<script type="module" src="/js/detail.js"></script>
<%- include ("./partials/footer.ejs") %>