<%- include ("./partials/head.ejs") %>

<% const {teacherpic, teachername, vakken, beschrijving, hobbies, beschikbaarheid, email, easteregg, easteregg2} = document.data %>

<% const dagen = Object.keys(beschikbaarheid[0]).reduce((currentResult, key) => {
    console.log(easteregg.url)
    console.log(easteregg2)
    beschikbaarheid[0][key] === true && (currentResult[key] = beschikbaarheid[0][key]);

    return currentResult;
  }, {}); %> 

<% const dagenArray = Object.keys(dagen) %> 
<% const dagenCapital = dagenArray.map(d => d.charAt(0).toUpperCase() + d.substr(1)) %>
<% const dagenString = dagenCapital.join(', '); %>

<header>
   <a href ="/">Terug</a>
</header>

<section class="teacher-info-container">
    <article class="teacher-info">
        <div class="teacher-info-pic">
            <img src="<%- teacherpic.url %>">
        </div>
        <div class="flex">
            <article class="teacher-basic-info">
                <h1 id="teacher-info-name"><%- teachername[0].text %></h1>
                <h2>Beschikbaarheid</h2>
                <p><%- dagenString === "" ? "None" : dagenString %></p>
                <h2>Email</h2>
                <p><%- email.length === 0 ? "None" : email[0].text %></p>
            </article>
            <article>
                <h2>Vakken</h2>
                <p><%- vakken.length === 0 ? "None" : vakken[0].text %></p>
                <h2>Beschrijving</h2>
                <p class="beschrijving-leeraar"><%- beschrijving.length === 0 ? "None" : beschrijving[0].text %></p>
                <h2>Hobbies</h2>
                <p><%- hobbies.length === 0 ? "None" : hobbies[0].text %></p>
            </article>
        </div>
        <img id="extra-img-animation" class="extraImg" src="<%- easteregg.url === undefined ? "/images/puppy.jpg" : easteregg.url %>">
        <img id="extra-img-animation2" class="extraImg" src="<%- easteregg2.url === undefined ? "/images/puppy2.jpg" : easteregg2.url %>">
    </article>
</section>

<script type="module" src="/js/detail.js"></script>

<%- include ("./partials/footer.ejs") %>