<%- include ("./partials/head.ejs") %>
<form id="search-teacher">
    <input type="text" placeholder="Zoek voor een leeraar">
</form>
<div class="container">
    <section class="teachers">
    <% document.forEach(teacher => { %>
        <% const encodedURL = "/detail/" + (teacher.data.teachername.length == 0 ? "" : teacher.data.teachername[0].text).replace(/\s+/g, '-').toLowerCase() %>
        <% if(teacher.data.beschikbaarheid[0][currentDate] === false) { %> 
            <a href="<%= encodedURL %>" class="teacher-link">
                <article class="teacher bck-grey">
                    <img src="<%- teacher.data.teacherpic.url %>" class="unavailable"/>
                    <h1><%- teacher.data.teachername.length == 0 ? "None" : teacher.data.teachername[0].text %></h1>
                </article>
            </a>
        <% } else{ %> 
            <a href="<%= encodedURL %>" class="teacher-link">
                <article class="teacher">
                    <img src="<%- teacher.data.teacherpic.url %>"/>
                    <h1><%- teacher.data.teachername.length == 0 ? "None" : teacher.data.teachername[0].text %></h1>
                </article>
            </a>
        <% } %> 
    <% }) %>
    </section>
</div>

<nav>
    <button class="button2" onClick="goPrecious()">Up</button>
    <button class="button" onClick="goNext()">Down</button>
</nav>

<script src="/js/script.js"></script>
<%- include ("./partials/footer.ejs") %>
