<%- include ("./partials/head.ejs") %>
<div class="container">
    <section class="teachers">
        <h1 id="date"></h1>
        <header class="noSplit">
            <h1 id="date"></h1>
            <div>
                <p id="legenda"><span></span>Afwezig</p>
                <p id="legenda2"><span></span>Filter aan</p>
            </div>
        </header>   
        <ul class="teachers-container">
        <% for (let i = 0; i < 16; i++) { %>
            <% document.forEach((teacher, index) => { %>
                <% const {teacherpic, teachername, vakken, beschrijving, hobbies, beschikbaarheid, email, specialiteiten} = teacher.data %>

                <% const dagen = Object.keys(beschikbaarheid[0]).reduce((currentResult, key) => {
                    beschikbaarheid[0][key] === true && (currentResult[key] = beschikbaarheid[0][key]);

                    return currentResult;
                }, {}); %> 

                <% const dagenArray = Object.keys(dagen) %> 
                <% const dagenCapital = dagenArray.map(d => d.charAt(0).toUpperCase() + d.substr(1)) %>
                <% const dagenString = dagenCapital.join(', '); %>

                <% const encodedURL = "/detail/" + (teachername.length == 0 ? "" : teachername[0].text).replace(/\s+/g, '-').toLowerCase() %>
                <% const specialty = Object.keys(specialiteiten[0]).filter(k => specialiteiten[0][k]) %> 
                
                <% if(beschikbaarheid[0][currentDate] === false) { %> 
                    <li class="specialty-teacher" data-value="<%- specialty %>" data-pos="<%- index + 1 %>">
                            <article class="teacher bck-grey">
                                <div class="card__face card__face--front">
                                    <img src="<%- teacherpic.url %>" class="pic-size unavailable"/>
                                    <h1 class="teacher-name"><%- teachername.length == 0 ? "None" : teachername[0].text %></h1>
                                </div>

                                <div class="card__face card__face--back">
                                    <h1 class="teacher-name"><%- dagenString === "" ? "None" : `Beschikbaar op: ${dagenString}` %></h1>
                                    <a href="<%= encodedURL %>" class="teacher-link"><button class="button-detail">Meer</button></a>
                                </div>
                            </article>
                    </li>
                <% } else{ %> 
                    <li class="specialty-teacher" data-value="<%- specialty %>" data-pos="<%- index + 1 %>">
                            <article class="teacher">
                                <div class="card__face card__face--front">
                                    <img src="<%- teacherpic.url %>" class="pic-size"/>
                                    <h1 class="teacher-name"><%- teachername.length == 0 ? "None" : teachername[0].text %></h1>
                                </div>

                                <div class="card__face card__face--back">
                                    <h1 class="teacher-name"><%- dagenString === "" ? "None" : `Beschikbaar op: ${dagenString}` %></h1>
                                    <a href="<%= encodedURL %>" class="teacher-link"><button class="button-detail">Meer</button></a>
                                </div>
                            </article>
                    </li>
                <% } %> 
            <% }) %>
        <% } %>  
    </ul>
    </section>
</div>

<%- include ("./partials/filters.ejs") %>

<nav>
    <button id="upButton"><img class="icon" src="/images/up.svg"></button>
    <button id="downButton"><img class="icon" src="/images/down.svg"></button>
</nav>

<!-- <input type="checkbox" checked="checked" class="toggle" onclick="GetValue();" >
    <div class="switch"></div>
    <div id="light"></div> -->



<div id="confetti-wrapper">
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
    </div>

</main>

<script type="module" src="/js/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>

<%- include ("./partials/footer.ejs") %>