<%- include ("./partials/head.ejs") %>
<form id="search-teacher">
    <button class="search-teacher-btn" type="submit"><img class="icon" src="/images/magnifying.svg"></button>
    <input id="search-input" class="input" type="text" placeholder="Zoek voor een leeraar">
    <div id="keyboard-bg"></div>
    <div id="keyboard" class="simple-keyboard"></div>
</form>
<div class="container">
    <section class="teachers">
        <h1 id="date"></h1>
        <ul class="teachers-container">
        <% document.forEach(teacher => { %>
            <% const encodedURL = "/detail/" + (teacher.data.teachername.length == 0 ? "" : teacher.data.teachername[0].text).replace(/\s+/g, '-').toLowerCase() %>
            <% const specialty = Object.keys(teacher.data.specialiteiten[0]).filter(k => teacher.data.specialiteiten[0][k]) %> 
            
            <% if(teacher.data.beschikbaarheid[0][currentDate] === false) { %> 
                <li class="specialty-teacher" data-value="<%- specialty %>">
                    <a href="<%= encodedURL %>" class="teacher-link">
                        <article class="teacher bck-grey">
                            <img src="<%- teacher.data.teacherpic.url %>" class="pic-size unavailable"/>
                            <h1 class="teacher-name"><%- teacher.data.teachername.length == 0 ? "None" : teacher.data.teachername[0].text %></h1>
                        </article>
                    </a>
                </li>
            <% } else{ %> 
                <li class="specialty-teacher" data-value="<%- specialty %>">
                    <a href="<%= encodedURL %>" class="teacher-link">
                        <article class="teacher">
                            <img src="<%- teacher.data.teacherpic.url %>" class="pic-size"/>
                            <h1 class="teacher-name"><%- teacher.data.teachername.length == 0 ? "None" : teacher.data.teachername[0].text %></h1>
                        </article>
                    </a>
                </li>
            <% } %> 
        <% }) %>
        <% for (let i = 0; i < 130; i++) { %>
            <% const encodedURL = "/detail/" + (document[0].data.teachername.length == 0 ? "" : document[0].data.teachername[0].text).replace(/\s+/g, '-').toLowerCase() %>
            <% const specialty = Object.keys(document[0].data.specialiteiten[0]).filter(k => document[0].data.specialiteiten[0][k]) %> 
            <li class="specialty-teacher" data-value="<%- specialty %>">
                <a href="<%= encodedURL %>" class="teacher-link">
                    <article class="teacher">
                        <img src="<%- document[0].data.teacherpic.url %>" class="pic-size"/>
                        <h1 class="teacher-name"><%- document[0].data.teachername.length == 0 ? "None" : document[0].data.teachername[0].text %></h1>
                    </article>
                </a>
            </li>
        <% } %>
    </ul>
    </section>
</div>

<fieldset id="specialty-filter">
    <div>
      <input type="checkbox" id="UX" name="specialty" value="UX">
      <label for="UX">UX</label>
    </div>
    <div>
      <input type="checkbox" id="Tech" name="specialty" value="Tech">
      <label for="Tech">Tech</label>
    </div>
    <div>
      <input type="checkbox" id="UI" name="specialty" value="UI">
      <label for="UI">UI</label>
    </div>
</fieldset>

<button id="filter"><img class="icon" src="/images/filter.svg"></button>

<nav>
    <button id="upButton"><img class="icon" src="/images/up.svg"></button>
    <button id="downButton"><img class="icon" src="/images/down.svg"></button>
</nav>

<script type="module" src="/js/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>

<%- include ("./partials/footer.ejs") %>